# Dependencies
node_modules/

# Build artifacts
dist/
dist-ssr/
out/
.next/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
# Do not commit .env files as they may contain secrets.
# Instead, use Vercel's environment variable management.
.env
.env.*
!.env.example

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel/

# Miscellaneous
*.local
